body > * {
    /* adds padding to whole body */
    padding: 0 200px;
    /* sets font for whole body */
    font-family: "roboto", Arial, Helvetica, sans-serif;
}

.header {
    /* whole header becomes flex */
    display: flex;
    /* sets deep blue bkg color */
    background-color: #1F2937;
    /* adds padding before hero section */
    padding-bottom: 100px;
}

ul {
    /* removes list bullet styles */
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.headerlogo {
    color: #F9faf8;
    /* grows logo container to take up half the space */
    flex-grow: 1;
}

.headerlink {
    /* makes links flex */
    display: flex;
    /* makes links go to right */
    justify-content: flex-end;
    
    /* vertical centering */
    align-items: center;
    /* adds gap between links */
    gap: 24px;
}

a {
    /* removes link underline */
    text-decoration: none;

    color: #e5e7eb;
    font-size: 18px;  
}

.blockone {
    /* hero block, sets color, flex, padding and
    centers the row-based child container blockonecontent */
    background-color: #1F2937;
    display:flex;
    justify-content: center;
    padding-bottom: 100px;
}

.blockoneleft {
    display: flex;
    /* column of hero text, subtext and button */
    flex-direction: column;
    /* allows content to wrap */
    flex-wrap: wrap;
    /* sets width of container */
    width: 420px;
}

.blockoneright {
    /* this block is just the img */
    max-width: 420px;
    height: auto;
}

.blockonecontent {
    /* this block is the whole container */
    display: flex;
    /* setting the gap between the text and picture */
    gap: 150px;
}

.heromaintext {
    /* set font of hero text */
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;

    /* set spacing between text and subtext */
    margin-bottom: 0;
}

.herosubtext {
    /* set subtext font */
    font-size: 18px;
    font-weight: 100;
    color: #e5e7eb;

    /* set spacing between hero and subtext */
    margin-top: 0;

}

button {
    /* button settings */
    width: 128px;
    height: 40px;
    background-color: #3882f6;
    border-radius: 8px;
    color: #F9faf8;
    border: 2px solid #3882f6;
}

.blocktwo {
    /* block two set up as centered column, centered horizontally */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 100px;
}

.container {
    /* overall container of all 4 cards and texts (no header!)*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cardimage {
    height: auto;
    width: 180px;
    border-radius: 16px;
}

.cardcontainer {
    /* individual container of card + text */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    margin: 20px;
}

.cardtext {
    /* didn't bother with flex here */
    text-align: center;
    font-weight: 100;
}

.blockthree {
    /* quote block */
    background-color: #e5e7eb;

    /* Set centered column */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quotecontainer {
    /* Set another quote block to hold the quote and attribution */
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 880px;
}

.quote {
    font-style: italic;
    font-weight: 100;
    font-size: 36px;
    color: #1f2937;
    margin-top: 60px;
    margin-bottom: 0px;
}

.quoteby {
    font-weight: bold;
    /* set the attribution to far right of container */
    align-self: flex-end;
    margin-top: 0;
    margin-bottom: 60px;
    font-size: 18px;
}

.blockfour {
    /* call to action block */
    display: flex;
    justify-content: center;
    padding: 48px;
}

.cta {
    /* Call to action blue bubble */
    display: flex;
    background-color: #3882f6;
    width: 800px;
    
    /* padding + space-between means the text and button are far apart
    but they're also padded from edges */
    padding: 24px 96px;
    justify-content: space-between;

    border-radius: 16px;
    align-items: center;
}

.ctamain {
    font-weight: bold;
    font-size: 22px;
    color:#F9faf8;
    margin-bottom: 0;
}

.ctasub {
    color:#F9faf8;
    margin-top: 0;
    font-weight: 100;
}

.ctabutton {
    /* special formatting just for this button to add white outline */
    border: 2px solid #F9faf8;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 24px 0;
}

.footertext {
    color: #F9faf8;
}